@use '../../base/variables' as v;
@use '../../base/mixins' as m;


.hours {
  position: relative;
  height: 80vh;
  background-image: url('../img/ambulance.webp');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  color: white;

  .btn-hour-custom {

    transition: transform 0.3s ease;
    
    &:hover {
      transform: translateY(-1px);

    }
  }
}