@use '../base/variables' as v;
@use '../base/mixins' as m;


// SERVICES
.services {

    .services-hero {
        position: relative;
        background: url('../img/test3.webp') no-repeat center center/cover;
        height: 50vh;

        display: flex;
        align-items: center;

        // DARK LAYER COLOR
        .hero-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .container {
            position: relative;
            z-index: 2;
        }

        // HERO TITLE
        .hero-title {
            font-weight: 700;
            text-align: center;
            color: v.$white;

            @include m.breakpoint-up(md) {
                text-align: left;
            }
        }
    }

    // GRID
    .grid-services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2.5rem;

        // CARD
        .card {
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            border: none;

            .image-container {
                position: relative;

                img {
                    transition: transform 0.3s ease;
                    opacity: 0.9;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .card-title {
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                color: v.$white;
                background-color: rgba(0, 0, 0, 0.5);
                padding: .8rem 1.3rem;
                border-radius: .5rem;
            }

        }
    }

    .content-service-grid{
        display: grid;
        gap: 1rem;

        @include m.breakpoint-up(md){
            grid-template-columns: repeat(2, 1fr);
        }

        
    }

    .card{
        border: none;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    }
}
