@use '../base/variables' as v;
@use '../base/mixins' as m;


// SERVICES
.services {

    // GRID
    .grid-services {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 2.5rem;

        // CARD
        .card {
            position: relative;
            overflow: hidden;
            transition: transform 0.3s ease;
            border: none;

            .image-container {
                position: relative;

                img {
                    transition: transform 0.3s ease;
                    opacity: 0.9;

                    &:hover {
                        transform: scale(1.05);
                    }
                }
            }

            .card-title {
                position: absolute;
                top: 1.5rem;
                left: 1.5rem;
                color: v.$white;
                background-color: rgba(0, 0, 0, 0.5);
                padding: .8rem 1.3rem;
                border-radius: .5rem;
            }

        }
    }
}
