@use '../base/variables' as v;
@use '../base/mixins' as m;


#btn-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  background-color: transparent;
  // background-color: v.$primary-color;
  text-align: center;
  line-height: 65px;
  border: none;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 60px;
  text-decoration: none;
  // color: white;
  color:  lighten(v.$secondary-color, 15%);
  transition: color 0.3s ease;

  &:hover {
    color: lighten(v.$secondary-color, 10%);

  }

}