@use '../base/variables' as v;
@use '../base/mixins' as m;


html {
    scroll-behavior: smooth;
}


.section {
    padding: 3rem 0 0 0;
}


.heading {
    text-align: center;
    margin: 3rem 0;
    font-weight: 700;
}
