// COLOR THEME
$primary-color: #0056B3;
$secondary-color: #218838;  
$tertiary-color: #F8F9FA; 
$accent-color: #138496;  

$white: #FFFFFF;
$black: #000000;
$red: #DC3545;
$grey: #343A40;
$grey-light: #6C757D;

// FONTS
$font-secondary: 'Roboto', sans-serif;  // FONT FOR BODY TEXT
$font-primary: 'Merriweather', serif;  // FONT FOR HEADINGS


// BREAKPOINTS
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

