// COLOR THEME
$primary-color: #4A90E2;  // CALM BLUE
$secondary-color: #50E3C2;  // LIGHT GREEN
$tertiary-color: #E9ECEF;  // MEDIUM GRAY
$accent-color: #003366;  // SOFT ORANGE

$white: #FFFFFF;
$black: #000000;  // BLACK
$red: #D0021B;  // RED
$grey: #7D7D7D;  // LIGHT GRAY

// FONTS
$font-secondary: 'Roboto', sans-serif;  // FONT FOR BODY TEXT
$font-primary: 'Merriweather', serif;  // FONT FOR HEADINGS


// BREAKPOINTS
$breakpoint-xs: 0;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

